{% extends 'base.html' %}
{% block title %}
Welcome to Augustus Market
{% endblock %}

{% block content %}

<h2>1.Jim shaped coding</h2>
<br>
<marquee behavior="alternate" direction="left">
    <img src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png"
        alt="Augustus" style="vertical-align:middle">
</marquee>
<p>JIM is a python expert who is famous for his incredible works in teaching his priceless knowledge to everyone who
    wants to learn programming </p>
<p>His contribution to this website by providing the knowledge of one of the most important module in python(flask
    module)
    You can check his website by <a href="jimshapedcoding.com">clicking here</a></p>

<h2>2.The Incredible Team(TIT)</h2>
<br>
<marquee behavior="alternate" direction="right">
    <img src="https://memegenerator.net/img/images/13294359.jpg" alt="Augustus" style="vertical-align:middle"
        height="250" width="250">
</marquee>
<br>
<br>
<P>This project is totally crafted by the teamates and it does not violate any copyright act</P>
<p>The complete design is custom made and is not owned by any individual </p>
<p>Finally a huge thanks to the creater <bold>Naresh M ,Naveen and SaiMahesh</bold> for taking part in this incredible
    work </p>

{% endblock %}