{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}


{% block content %}

<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            {% if theme == 'default' %}
            <img class="mb-4" src="https://freepngimg.com/thumb/tv_shows/31376-8-spartacus-transparent-background.png"
                alt="" height="370" width="370">
            {% elif theme == 'doge' %}
            <br>
            <img align="top" src="https://c.tenor.com/FH--VIk5OXAAAAAd/doge-meme-doge-coin.gif"
                alt="image cannot process please use different browser" height="300" style="border: 5px solid #555;">

            {% elif theme == 'aot' %}
            <br>
            <img align="top" src="https://images8.alphacoders.com/505/thumb-1920-505616.png"
                alt="image cannot process please use different browser" height="300" ">
            <br>
            {% endif %}

            <h1 class=" h3 mb-3 font-weight-normal">
            <br>
            Please Login

            </h1>
            </br>

            {{ form.user_name.label() }}
            {{ form.user_name(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}


            </br>


            <div class="checkbox mb-3">

                <h6>Do not have an account?</h6>

                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            </br>
            </br>
            </br>
            </br>
            </br>


        </form>
    </div>
</body>

{% endblock %}